<div class="form-inputs well" id="capacitation_form" >
	<%= form_for @capacitacion  do |f| %>
	  <div class="tema">
	  	<h4>General</h4>
	  	<%= f.label :tema, 'Temática:'%>
	  	<%= f.text_field :tema%>
	  	<%= f.label :institucion, 'Institución:'%>
	  	<%= f.text_field :institucion%>
	  	<%= f.label :capacitador, 'Capacitador:'%>
	  	<%if @capacitacion.capacitador.blank?%>
	  		<%= f.select :capacitador_id, options_for_select(Capacitador.all.map{|c| [c.full_name, c.id]}) %>
	  	<%else%>
	  		<%= f.select :capacitador_id, options_for_select(Capacitador.all.map{|c| [c.full_name, c.id]}, @capacitacion.capacitador.id)%>
	  	<%end%>
	  	<br>
	  	<%= f.label :fecha, 'Fecha:'%>
	  	<%= f.text_field :fecha, id: 'datepicker'%>
	  </div>
	  <hr>
	  <div class="values">
	  	<h4>Valores</h4>
	  	<%= f.label :valor_base, 'Valor Base:'%>
	  	<br>
	  	<%= f.text_field :valor_base%>
	  	<br>
	  	<br>
	  	<%= f.label :valor_cat_a, 'Categoria A:'%>
	  	<%= f.text_field :valor_cat_a, enable: "false"%>
	  	<%= f.label :valor_cat_b, 'Categoria B:'%>
	  	<%= f.text_field :valor_cat_b%>
	  	<%= f.label :valor_cat_c, 'Categoria C:'%>
	  	<%= f.text_field :valor_cat_c%>
	  	<%= f.label :valor_cat_d, 'Categoria D:'%>
	  	<%= f.text_field :valor_cat_d%>
	  	<%= f.label :valor_cat_e, 'Categoria E:'%>
	  	<%= f.text_field :valor_cat_e%>
	  </div>
	  <hr>
	  <div class="observations">
	  	<h4>Observaciones</h4>
	  	<%= f.text_area(:observaciones, :size => '240x10', :id => "observaciones")%>
	  </div>
	  <%= f.submit "Guardar" , class: "btn btn-primary"%>
	  <%if !@capacitacion.new_record?%>
	  	<%= link_to "Cancelar", @capacitacion, class: "btn"%>
		<% else %>
			<%= link_to "Cancelar", capacitacions_path, class: "btn"%>
		<% end %>
	<% end %>
</div>