<fieldset>
  <legend>
    Listado de Capacitaciones
  </legend>
</fieldset>
<table class="table table-hover">
  <tr>
    <th>Tema</th>
    <th>Valor Base</th>
    <th>Fecha</th>
    <th>Institución</th>
    <th>Capacitador</th>
    <th>Acciones</th>
  </tr>

	<% @capacitaciones.each do |capacitacion| %>
	<tr>
  	<td><%= capacitacion.tema %></td>
    <td><%= capacitacion.valor_base %></td>
  	<td><%= capacitacion.fecha.strftime("%m/%d/%Y") %></td>
    <td><%= capacitacion.institucion %></td>
    <td><%= capacitacion.capacitador.full_name%></td>
  	<td>
        <%=link_to(content_tag(:span, content_tag(:i, nil, :class => "icon-eye-open")+" "), capacitacion, class: "btn", :rel => "tooltip", :"title" => "Ver detalles")%>
        <%=link_to(content_tag(:span, content_tag(:i, nil, :class => "icon-pencil")+" "), edit_capacitacion_path(capacitacion), class: "btn", :rel => "tooltip", :"title" => "Editar capacitación")%>
        <%=link_to(content_tag(:span, content_tag(:i, nil, :class => "icon-trash")+" "), capacitacion, method: :delete, data: { confirm: '¿Estás seguro de eliminar esta capacitación?' }, class: "btn", :rel => "tooltip", :"title" => "Eliminar capacitacion")%>
    </td>
	</tr>
	<% end %>
</table>

<br />

<%=link_to(content_tag(:span, content_tag(:i, nil, :class => "icon-plus icon-white")+" Nueva Capacitacion"), new_capacitacion_path, class: "btn btn-primary", :rel => "tooltip", :"title" => "Nueva Capacitacion")%>