<fieldset>
	<legend>
		Capacitación - <%=@capacitacion.tema%>
	</legend>
	<%=hidden_field_tag 'capacitacion_id', @capacitacion.id%>
	<div class="well">
		<p><strong>Tema:</strong> <%=@capacitacion.tema%></p>
		<p><strong>Capacitador:</strong> <%=@capacitacion.capacitador.full_name%></p>
		<p><strong>Valor base:</strong> <%=@capacitacion.valor_base%></p>
		<p><strong>Institución:</strong> <%=@capacitacion.institucion%></p>
		<p><strong>Fecha:</strong> <%=@capacitacion.fecha.strftime("%d/%m/%Y")%></p>
	</div>
	<div class="actions">
		<%=link_to(content_tag(:span, content_tag(:i, nil, :class => "icon-pencil icon-white")+" Editar"), edit_capacitacion_path(@capacitacion), class: "btn btn-primary", :rel => "tooltip", :"title" => "Editar Capacitacion")%>

		<%=link_to(content_tag(:span, content_tag(:i, nil, :class => "icon-trash icon-white")+" Eliminar"), capacitacion_path(@capacitacion), method: :delete, class: "btn btn-primary", confirm: "¿Estás seguro de eliminar esta capacitación?", :rel => "tooltip", :"title" => "Eliminar Capacitacion")%>

		<input id="identification_search", type="text", style="margin-bottom: 0px;", placeholder="Número de identificación"></input>
		<button class="btn", id="add_user">Agregar Usuario <%=content_tag(:span, content_tag(:i, nil, :class => " icon-chevron-down icon-black"))%></button>
	</div>
	<br>
	<legend>
		Usuarios
	</legend>
	<%= render "usuarios/form"%>
	<br>
	<div id="usuarios">
		<%if @usuarios.count > 0%>
			<table class="table table-hover">
			  <thead>
				  <tr>
				    <th>Nombres</th>
				    <th>Apellidos</th>
				    <th>Tipo de identifiación</th>
				    <th>Identifiación</th>
				    <th>Categoría</th>
				    <th>Acciones</th>
				  </tr>
			  </thead>
			  <tbody>
					<% @capacitacion.usuarios.keep_if{|u| !u.new_record?}.each do |usuario|%>
						<tr>
					  	<td><%= usuario.nombres %></td>
					    <td><%= usuario.apellidos %></td>
					  	<td><%= usuario.tipo_identificacion %></td>
					    <td><%= usuario.identificacion %></td>
					    <td><%= usuario.categoria %></td>
					  	<td>
				        <%=link_to(content_tag(:span, content_tag(:i, nil, :class => "icon-minus-sign")+" Desvincular"), capacitacion_usuario_unlik_user_path(@capacitacion, usuario), method: :delete, data: { confirm: '¿Estás seguro de eliminar este usuario de esta capacitación?' }, class: "btn", :rel => "tooltip", :"title" => "Desvincular Usuario")%>
					    </td>
						</tr>
					<%end%>
				</tbody>
			</table>
		<%else%>
			<p class="well">Usted no ha agregado ningún usuario para esta capacitación.</p>
		<%end%>
	</div>
	<%= link_to "Todas las capacitaciones", capacitacions_path, class: "btn btn-primary"%>
</fieldset>