<fieldset>
	<legend>
		Capacitación - <%=@capacitacion.tema%>
	</legend>
	<div class="well">
		<p><strong>Tema:</strong> <%=@capacitacion.tema%></p>
		<p><strong>Capacitador:</strong> <%=@capacitacion.capacitador.full_name%></p>
		<p><strong>Valor base:</strong> <%=@capacitacion.valor_base%></p>
		<p><strong>Institución:</strong> <%=@capacitacion.institucion%></p>
		<p><strong>Fecha:</strong> <%=@capacitacion.fecha%></p>
	</div>
	<div class="actions">
		<%=link_to(content_tag(:span, content_tag(:i, nil, :class => "icon-pencil icon-white")+" Editar"), edit_capacitacion_path(@capacitacion), class: "btn btn-primary", :rel => "tooltip", :"title" => "Editar Capacitacion")%>

		<%=link_to(content_tag(:span, content_tag(:i, nil, :class => "icon-trash icon-white")+" Eliminar"), capacitacion_path(@capacitacion), method: :delete, class: "btn btn-primary", confirm: "¿Estás seguro de eliminar esta capacitación?", :rel => "tooltip", :"title" => "Eliminar Capacitacion")%>
	</div>
</fieldset>