<!DOCTYPE html>
<html>
<head>
  <title>.::Capacitaciones Comfamiliar::.</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="flash_message">
  <%if notice%>
    <div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <p class="notice"><%= notice %></p>
    </div>
  <%end%>
  <%if alert%>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <p><%= alert %></p>
    </div>
  <%end%>
</div>


<div class= "navbar navbar-fixed-top" >
  <div class="navbar-inner">
    <div class "container">
      <a><%=link_to "|  INICIO" , root_path, class: "brand" %></a>
      <ul class="nav">
      <%if capacitador_signed_in? %>
        <li><%=link_to "Capacitaciones", capacitacions_path %> </li>
      <%end%>
      </ul>
        <%if capacitador_signed_in? %>
          <ul class = "nav pull-right">
            <li><%=link_to "#{current_capacitador.nombres} #{current_capacitador.apellidos}", edit_capacitador_registration_path%> </li>
            <li><%=link_to "Cerrar Sesión", destroy_capacitador_session_path, method: :delete%></li>
          </ul>
      <%else%>
        <ul class = "nav pull-right">
          <li><%=link_to "Registrarse", new_capacitador_registration_path%> </li>
          <li><%=link_to "Iniciar Sesión", new_capacitador_session_path%> </li>
        </ul>
      <%end%>
    </div>
  </div>
</div>

<div class="general container">
  <%= yield %>
</div>

<footer class= "navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <a href="http://www.comfamiliar.com.co" class ="brand">&copy; Portal Comfamiliar Atlántico</a> 
    </div>
  </div>
</footer>

</body>
</html>
