<!DOCTYPE html>
<html>
<head>
  <title>.::Capacitaciones Comfamiliar::.</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="flash_message">
    <%if notice%>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <p class="notice"><%= notice %></p>
      </div>
    <%end%>
    <%if alert%>
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <p><%= alert %></p>
      </div>
    <%end%>
  </div>
</div>


<div class= "navbar navbar-fixed-top" >
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
      <%=link_to(content_tag(:span, content_tag(:i, nil, :class => "icon-home icon-white")+" "), root_path, class: "brand", :rel => "tooltip", :"title" => "Ir al inicio")%>
      <%if capacitador_signed_in? %>
        <%=link_to(content_tag(:span, content_tag(:i, nil, :class => "icon-list icon-white")+" "), capacitacions_path, class: "brand", :rel => "tooltip", :"title" => "Listado de capacitaciones")%>
        <%=link_to(content_tag(:span, content_tag(:i, nil, :class => "icon-user icon-white")+" "), usuarios_path, class: "brand", :rel => "tooltip", :"title" => "Listado de usuarios")%>
      <%end%>
      </ul>
        <%if capacitador_signed_in? %>
          <ul class = "nav pull-right">
            <%=link_to(content_tag(:span, content_tag(:i, nil, :class => "icon-pencil icon-white")+" #{current_capacitador.nombres}"), edit_capacitador_registration_path, class: "brand", :rel => "tooltip", :"title" => "Editar perfil")%>
            <%=link_to(content_tag(:span, content_tag(:i, nil, :class => "icon-off icon-white")+" Cerrar Sesión"), destroy_capacitador_session_path, method: :delete, class: "brand", :rel => "tooltip", :"title" => "Cerrar sesión")%>
          </ul>
      <%else%>
        <ul class = "nav pull-right">
          <li><%=link_to "Registrarse", new_capacitador_registration_path%> </li>
          <li><%=link_to "Iniciar Sesión", new_capacitador_session_path%> </li>
        </ul>
      <%end%>
    </div>
  </div>
</div>

<div class="general container">
  <%= yield %>
</div>

<footer class= "navbar navbar-fixed-bottom">
  <div class="navbar-inner">
    <div class="container">
      <a href="http://www.comfamiliar.com.co" class ="brand">&copy; Portal Comfamiliar Atlántico</a> 
    </div>
  </div>
</footer>

</body>
</html>
